// Brand colors
$color-brand-primary:#0E787C;
// #11999E
$color-brand-blue:#66BFBF;
$color-brand-blue-light:#E4F6F6;
$color-brand-blue-lighter:#f4fafa;

$color-text-gray-dark:#40514E;


// Neutral colors
$color-neutral-white: white;
$color-neutral-black: black;
$color-neutral-3: #333;
$color-neutral-b: #bbb;
$color-neutral-75: #757575;
$color-neutral-e4: #e4e4e4;