body {
  background-color: #f4fafa;
  color: #40514E;
  margin: 0;
}

main {
  margin: 5rem 10rem;
  min-height: 20rem;
}

h1 {
  color: #0E787C;
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
  font-size: 2rem;
  margin: 0;
}

h4 {
  color: #0E787C;
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
  font-size: 2rem;
  margin: 0;
}

a {
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
}

p {
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
}

button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
  border: 3px solid #0E787C;
  border-radius: 2em;
  color: #0E787C;
  display: inline-block;
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease, -webkit-filter 0.2s ease;
  transition: background-color 0.2s ease, -webkit-filter 0.2s ease;
  transition: filter 0.2s ease, background-color 0.2s ease;
  transition: filter 0.2s ease, background-color 0.2s ease, -webkit-filter 0.2s ease;
  cursor: pointer;
}

button:focus {
  outline-offset: 2px;
}

button:focus, button:hover {
  background-color: #0E787C;
  color: white;
}

img {
  border: 1px solid red;
  height: 250px;
  width: 250px;
}

.aboutus__container {
  margin-bottom: 10rem;
}

.aboutus__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.aboutus__inner p {
  width: 60%;
}

.aboutus__inner img {
  border: 1px solid red;
  height: 250px;
  width: 250px;
}

.aboutus__lesson {
  margin: 8rem 0;
}

.aboutus__lesson__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus__profile {
  margin: 8rem auto;
  width: 80%;
}

.aboutus__profile__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 7rem;
}

.aboutus__profile__inner span {
  width: 70%;
}

.aboutus__profile__inner span h3 {
  font-size: 2rem;
}

.aboutus__profile__inner img {
  border: 1px solid red;
  height: 300px;
  margin-top: 3rem;
  margin-left: 3rem;
  width: 300px;
}

.booking {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.booking__container {
  background-color: white;
  border: solid 2px #0E787C;
  height: 31.25;
  margin: 2rem auto;
  width: 80%;
}

.booking__title {
  color: #0E787C;
}

.booking__weeknav {
  border-bottom: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking__weeknav__btn {
  background-color: transparent;
  border: none;
  margin: 0 2rem;
}

.booking__inner {
  height: 27.813rem;
  overflow: auto;
}

.booking__inner__lista {
  list-style-type: disc !important;
}

.booking__inner__item {
  margin: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking__inner__text {
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
  font-size: 20px;
}

.booking__inner__btn {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  padding: 0.2rem 1rem;
}

.booking__btn {
  font-size: 1.7rem;
  padding: 1em 3em 1.2em;
}

.BookingPage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 2px 10px 25px #000;
          box-shadow: 2px 10px 25px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  overflow: hidden;
  top: 65%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  width: 55%;
}

.BookingPage__item {
  margin: 1.2rem 0rem;
}

.BookingPage__item--alt {
  margin-top: 3rem;
}

.BookingPage__item label {
  font-family: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
}

.BookingPage__item input {
  border: solid 2px #0E787C;
  margin-left: 0.5rem;
}

.BookingPage__btn--close {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: transparent;
  border: none;
  margin: 1rem;
}

.BookingPage__btn--close:hover {
  background-color: transparent;
  border: solid 1px #0E787C;
  color: #0E787C;
}

.BookingPage__btn {
  font-size: 1.2rem;
  margin: 2rem 0rem;
  padding: 1rem 2em;
}

.skiplink {
  background-color: white;
  color: #0E787C;
  display: inline-block;
  font-size: 1.3rem;
  left: -999px;
  margin: 0.5rem;
  padding: 1.25rem 2.5rem;
  position: absolute;
  top: 0;
  z-index: 100;
}

.skiplink:focus {
  left: 0;
  outline-color: #66BFBF;
  outline-offset: -2px;
}

.dropdown {
  display: none;
  margin-top: 0.5rem;
}

.dropdown.show {
  background-color: white;
  display: block;
  list-style: none;
  position: absolute;
  padding: 0 0.08rem;
  min-width: 5rem;
}

.dropdown__items {
  padding: 1rem 0;
}

.horses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horses__horse {
  margin: 5rem 0;
}

.horses__horse__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.horses__horse__inner p {
  margin: 0 2rem;
  max-width: 20rem;
}

.horses__img img {
  margin: 3rem;
}
/*# sourceMappingURL=index.css.map */